---
import Bio from "./Bio.astro";
import Socials from "./Socials.astro";
---

<section>
    <div class="personal-infos">
        <h1>
            Moritz Schüßler
        </h1>
        <Bio />
    </div>
    <Socials />
</section>

<style>
    section {
        height: 100dvh;
        width: var(--aboutWidth);

        padding: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        margin: 0;
        font-size: clamp(2.3rem, 100vw - 1300px, 3rem);
        font-weight: 600;
        letter-spacing: -1px;
    }

    .personal-infos {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 1000px) {
        section {
            height: auto;
        }
    }
</style>
