---
import { Icon } from 'astro-icon'

const socials = [
    {name: 'E-Mail', href: 'https://github.com/moritz-schuessler', icon: 'mail'},
    {name: 'LinkedIn', href: 'https://github.com/moritz-schuessler', icon: 'linkedin'},
    {name: 'GitHub', href: 'https://github.com/moritz-schuessler', icon: 'github'},
]
---

<section>
    {
        socials.map(({name, href, icon }) => {
            return (
                    <a href={href} target='_blank'>
                        <span class="icon"><Icon name={icon} /></span>
                        <span class="text">{name}</span>
                    </a>
            )
        })
    }
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
    }

    a {
        all: unset;

        padding: 10px 0;

        display: flex;
        align-items: center;

        text-decoration: none;
        cursor: pointer;
    }

    [astro-icon] {
        width: 2rem;
        height: 2rem;

    }

    a:hover {
        color: hsl(var(--accentColor));
    }

    .text {
        font-size: 1.5rem;
    }

    .icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    @media (max-width: 1000px) {
        section {
            flex-direction: row;
            justify-content: left;
        }

        a {
            margin-right: 2rem
        }

        [astro-icon] {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    @media (max-width: 750px) {
        section {
            justify-content: space-between;
            margin-right: 0;
        }
    }
</style>